* {
  color: rgb(231, 231, 231);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 1240px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 925px) {
  html {
    font-size: 10px;
  }
}
